In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from utils import *

In [54]:
df, y = get_data()
df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,-2.619773,-2.619533,-1.199350,-1.083335,-1.000910,-0.366967,-2.164037,-1.210001,-0.658311,-1.489539,...,10.849925,10.343346,10.717519,7.709295,5.894554,12.416573,6.765269,16.243907,7.209524,8.082021
1,-1.415579,-1.782544,-2.880270,-1.958863,1.159968,0.273030,-1.628728,-0.175813,-0.916857,-0.570166,...,11.489417,5.195818,3.494627,5.529154,10.517576,15.697333,11.324938,12.187670,12.283861,5.032285
2,-2.745092,-1.382945,-1.626015,-1.282560,-0.663146,0.052349,-2.403322,-0.765073,-0.394354,-0.806624,...,13.934934,9.267515,4.705604,6.642557,14.658934,8.130767,7.194487,11.939354,11.653620,5.942778
3,0.618998,0.455364,-0.115081,0.649040,-0.862207,2.308504,0.526114,-1.094852,1.088656,-0.481210,...,12.021328,3.852231,11.059702,7.527268,7.253120,9.791136,6.089743,10.752796,5.778888,10.366363
4,-0.070694,-0.550509,-0.565556,-0.693065,-0.573089,-0.395862,0.003170,-0.981609,-0.505775,-0.758430,...,7.537788,11.229665,11.318915,6.622256,12.557882,5.520360,5.397359,13.152269,10.684779,9.816471

In [55]:
df["y"] = y
df.isna().sum().sum()

0

In [56]:
# get features with max correlation
corr = df.corr(method="pearson")
corr_y = abs(corr["y"])
corr_y = corr_y.sort_values(ascending=False)
corr_y = corr_y.drop("y")
corr_y

403    0.045464
323    0.040858
285    0.040197
220    0.039703
155    0.039277
         ...
93     0.000092
493    0.000078
134    0.000051
389    0.000045
483    0.000012
Name: y, Length: 500, dtype: float64

In [57]:
corr = df.corr(method="spearman")
corr_y = abs(corr["y"])
corr_y = corr_y.sort_values(ascending=False)
corr_y = corr_y.drop("y")
corr_y

403    0.046274
323    0.040575
285    0.040249
220    0.039550
412    0.038095
         ...
121    0.000147
389    0.000115
472    0.000068
293    0.000033
54     0.000003
Name: y, Length: 500, dtype: float64

In [58]:
corr.unstack().abs().sort_values(ascending=False)[501:501+20]

0  6    0.957379
6  0    0.957379
4  7    0.938196
7  4    0.938196
1  9    0.924838
9  1    0.924838
8  3    0.892919
3  8    0.892919
8  5    0.887551
5  8    0.887551
1  6    0.885639
6  1    0.885639
1  8    0.862680
8  1    0.862680
0  1    0.846072
1  0    0.846072
5  7    0.845982
7  5    0.845982
   8    0.841867
8  7    0.841867
dtype: float64

In [8]:
df0 = df[df["y"] == 0]
df1 = df[df["y"] == 1]

In [15]:
# chech difference in mean and var for both dfs
diff = (df0.mean() - df1.mean() / df.mean()).abs()
diff = diff.sort_values(ascending=False)
diff

137    120.485798
80      82.164542
160     42.437647
128     38.711488
35      24.300916
          ...
127      0.109587
143      0.108653
10       0.087015
47       0.070720
15       0.038895
Length: 501, dtype: float64